@charset "ISO-8859-1";

body{
	
	background-color:#0080ff
}

#welcome{
	
	text-align: center;
	font-size: 80px;
	color: #a60d0d;
	
}

#answer{
	font-size:20px;
	color: #ffffff;
}

.container{
	position: absolute;
	top: 20%;
	left:20%
	transform: translate(-50%, -50%);
	
}

#Arvest
{
position: absolute;
    top: 20px;
    right: 20px;
}